.form-wrapper-pop, .contact-wrapper, .sidebar-wrapper {
  position: relative;
  box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: #ffffff;
}
.contact-wrapper {
  div.wpcf7 input[type="text"],
  div.wpcf7 input[type="tel"],
  div.wpcf7 input[type="email"],
  div.wpcf7 select,
  div.wpcf7 textarea {
	background-color: #e0e0e0;
  }
}
.footer-form {
  div.wpcf7 input[type="text"],
  div.wpcf7 input[type="tel"],
  div.wpcf7 input[type="email"],
  div.wpcf7 select,
  div.wpcf7 textarea {
	background-color: rgba(224, 224, 224, 0.5);
  }
}
.sidebar-wrapper {
  padding: 20px;
}
.form-wrapper-pop {
  padding: 60px 12% 40px 8%;
}
.close-form {
  position: absolute;
  right: 23px;
  top: 20px;
  cursor: pointer;
  svg {
	width: size(23);
	fill: #000000;
	transition: fill ease-out .5s;
  }
  &:hover {
	svg * {
	  fill: $green-main;
	}
  }
}
.form-title {
  @include base-title;
  color: $green-main;
}
.pop-form-title {
  margin-bottom: 12px;
}
.base-form-title {
  margin-bottom: 22px;
}
.base-form-subtitle {
  @include mid-title-24;
  color: #fefefe;
  margin-bottom: 22px;
}
.foo-form-title {
  margin-bottom: 30px;
}
.foo-form-subtitle {
  color: $text-main;
  margin-bottom: 30px;
}
//.post-form-title {
//  @include mid-title;
//  font-weight: 500;
//}
//.post-form-subtitle {
//  @include mid-title-24;
//  color: #000000;
//  font-weight: 400;
//  margin-bottom: 16px;
//}
//Forms
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select,
.select-sort {
  @include input-text;
  @include input-style;
  margin-bottom: 11px;
}
.select-sort {
  -webkit-appearance: none;
  border: none;
  background-color: #e0e0e0;
  padding: 10px 20px 10px 45px;
  background-image: url("../iconsall/down-arrow-black.png");
  background-position: 10px center;
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
}
div.theme-col {
  input[type="text"] {
	background-image: url("../iconsall/form-theme.png");
  }
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
  background-size: size(14);
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
div.wpcf7 textarea {
  height: size(105) !important;
  background-image: url("../iconsall/form-textarea.png") !important;
  background-position: calc(100% - 14px) 11px !important;
  padding-top: 11px;
  @media screen and (max-width: 768px) {
	margin-bottom: 0;
  }
}
.footer-form div.select-normal input[type="text"] {
  background-image: url("../iconsall/form-theme.png");
}
.footer-form div.wpcf7 textarea {
  height: size(46) !important;
}
div.wpcf7 select {
  -webkit-appearance: none;
  background-image: url("../iconsall/form-select.png");
  padding: 8px size(16);
  background-position: 8px center;
  background-size: size(17);
  line-height: normal;
}
div.big-select-img select {
  background-size: 92% auto;
  padding-right: 38px !important;
  @media (max-width: 768px){
	background-image: url("../iconsall/form-theme.png");
	background-position: calc(100% - 13px) center;
	background-size: size(24);
  }
}
div.wpcf7 input[type="submit"] {
  @include submit-link-style;
}
.main-search-form {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  position: relative;
  @media screen and (max-width: 450px){
	flex-wrap: wrap;
  }
  input[type="search"],
  button[type="submit"] {
	-webkit-appearance: none;
	height: size(46);
	border-radius: size(23);
  }
  button[type="submit"] {
	border: none;
	box-shadow: unset;
	background-color: $green-main;
	color: #ffffff;
	font-size: size(24);
	text-align: center;
	font-weight: 400;
	position: absolute;
	padding: 10px 24px;
	line-height: 1;
	left: 0;
	@media screen and (max-width: 450px){
	  margin-top: 10px;
	  position: relative;
	  width: 100%;
	  order: 2;
	}
  }
  input[type="search"] {
	width: 100%;
	background-color: #e0e0e0;
	padding-right: 55px;
	background-image: url("../iconsall/search.png");
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: calc(100% - 24px);
  }
}
.repeat-form-inline {
  background-color: #000000;
  padding: 26px 0;
}
.dark-submit-wrap {
  div.wpcf7 input[type="submit"] {
	background-image: url("../iconsall/form-submit-black.png");
	color: #000000 !important;
  }
}
.form-products-wrap {
  padding: 58px 0;
}
//Footer form
.footer-form {
  box-shadow: 0 0 50px rgba(51, 51, 51, 0.06);
  border-radius: 20px;
  background-color: #ffffff;
  padding: 54px 0;
}
