header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 12344;
  &.home-header {
	background-image: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0.97) 3%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  }
}
#MainNav{
  ul{
	display: flex;
	flex-direction: column;
	height: 100%;
	li{
	  margin-bottom: 30px;
	  a{
		@include mid-title-24;
		color: $text-main;
		transition: color ease-out .5s;
		&:hover {
		  color: $green-main;
		}
	  }
	}
  }
}
.header-socials {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  z-index: 9999;
}
.logo {
  @include d-center;
  padding: 15px 0;
  img {
	max-height: size(61);
  }
}
.head-link-wrap {
  @include d-center;
  border-radius: 50%;
  width: size(41);
  height: size(41);
  padding: 5px;
  margin: 0 6px;
  background-color: #e0e0e0;
  transition: background-color ease-out .5s;
  &:hover {
	background-color: $green-main;
  }
  img {
	max-height: 23px;
	max-width: 90%;
  }
}
.search-trigger, .menu-trigger {
  cursor: pointer;
}
.pop-trigger {
  background-color: $green-main;
  &:hover {
	background-color: #000000;
  }
}
.header-tel {
  @include d-center;
  min-height: size(41);
  border-radius: 21px;
  padding: 5px size(17);
  background-color: #000000;
  @include base-text;
  color: #ffffff !important;
  margin: 0 size(30) 0 15px;
  transition: background-color ease-out .5s;
  &:hover {
	background-color: $green-main;
  }
  img {
	width: 12px;
	margin-left: 10px;
  }
}
.header-address {
  @include base-text;
  transition: color ease-out .5s;
  &:hover {
	color: $green-main;
  }
}
.menu-trigger {
  background-color: #000000;
  margin-right: 0 !important;
  .hamburger {
	padding: 0;
	display: flex;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after, .hamburger-box {
	width: 23px;
  }
  .hamburger-box {
	height: 16px;
  }
  .hamburger-inner::before {
	top: -7px;
  }
  .hamburger-inner::after {
	bottom: -7px;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: #ffffff;
	height: 2px;
	border-radius: 1px;
  }
  .logo img {
	max-height: size(61);
  }
}
//Header popup
.pop-form, .search-form {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form, .float-search-form {
  position: relative;
  max-height: 95vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateY(-100%);
  overflow-y: auto;
  opacity: 0;
  width: 100%;
  .form-wrapper-pop {
	width: 100%;
  }
  &.show-float-form{
	opacity: 1;
	transform: translateY(0);
  }
}
.drop-menu {
  display: none;
  width: 318px;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.14);
  border-radius: 0 0 0 20px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 333;
  height: auto;
  padding: 91px 30px 43px 50px;
  overflow-y: auto;
  overflow-x: hidden;
}
//Footer
.footer-main {
  position: relative;
  background-color: #000000;
  padding: 105px 0 50px 0;
  background-image: url("../img/footer-back.png");
  @include back-img;
}
.menu-border-top {
  padding-top: 30px;
}
footer {
  li {
	position: relative;
	a, .fax-item {
	  @include base-text;
	  position: relative;
	  color: #ffffff;
	  transition: color ease-out .5s;
	}
	a:hover {
	  color: $green-main;
	  cursor: pointer;
	}
  }
  .contact-list li a, .contact-list li .fax-item {
	display: flex;
	align-items: flex-start;
	margin-bottom: 5px;
  }
}
.two-columns {
  column-count: 2;
  column-gap: 1rem;
}
.contact-menu-foo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.logo-footer {
  img {
	max-height: size(80);
  }
}
.foo-title, .to-top-text {
  @include mid-title-24;
  color: #ffffff;
}
.to-top-text {
  text-align: center;
}
#go-top {
  position: absolute;
  top: 50px;
  right: 25px;
  @include d-center;
  flex-direction: column;
  cursor: pointer;
  z-index: 999;
  animation: jump-top 1.2s ease-in-out alternate infinite;
}
.go-top-arrow {
  @include arrow-link;
  position: relative;
  background-color: #ffffff;
  background-image: url("../iconsall/to-top.png");
  margin-bottom: 6px;
}
.foo-socials-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: size(90);
}
.foo-social-link-item {
  @include d-center;
  margin: 0 4px;
  &:first-child {
	margin: 0 0 0 4px;
  }
  &:last-child {
	margin: 0 4px 0 0;
  }
  .fab {
	color: #ffffff;
	font-size: 1rem;
	transition: color ease-out .5s;
	&:hover {
	  color: $green-main;
	}
  }
}
