// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// =============================================================================
// Pixel to REM
// =============================================================================


$base-size: 22;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}


// usage: body {margin: size(20);}


// =============================================================================
// Media Query [Bootstrap 4 default queries]
// =============================================================================


@mixin extra-large-device-up {
  @media (min-width: 1200px) { @content; }
}
@mixin extra-large-device-down {
  @media (max-width: 1200px) { @content; }
}
@mixin large-device {
  @media (max-width: 992px) { @content; }
}
@mixin medium-device {
  @media (max-width: 768px) { @content; }
}
@mixin small-device {
  @media (max-width: 576px) { @content; }
}
@mixin input-text {
  color: $text-main;
  font-size: size(18);
  line-height: size(22);
  font-weight: 400;
}
@mixin input-style {
  padding-right: size(50);
  height: size(46);
  border-radius: size(23);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) center;
  background-size: size(24);
}
@mixin overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
@mixin d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes jump {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-bottom: 1rem;
  }
}
@keyframes jump-top {
  0% {
	margin-top: -16px;
  }
  100% {
	margin-top: -46px;
  }
}
@mixin submit-link-style {
  background-position: 9px center;
  background-repeat: no-repeat;
  height: size(46);
  background-color: $green-main;
  background-image: url("../iconsall/form-submit.png");
  background-size: size(31);
  border-radius: size(23);
  color: #ffffff !important;
  font-size: size(24);
  line-height: size(30);
  text-align: center;
  font-weight: 400;
  padding-left: size(50);
  transition: background-position ease-out .5s;
  &:hover {
	background-position: 4px center;
  }
}
@mixin block-title {
  font-size: size(48);
  line-height: size(50);
  font-weight: 400;
  @media screen and (max-width: 576px) {
	font-size: size(40);
	line-height: size(44);
  }
}
@mixin base-title {
  font-size: size(36);
  line-height: size(42);
  font-weight: 400;
  @media screen and (max-width: 576px) {
	font-size: size(30);
	line-height: size(36);
  }
}
@mixin mid-title-24 {
  font-size: size(24);
  line-height: size(32);
  font-weight: 400;
  @media screen and (max-width: 576px) {
	font-size: size(22);
	line-height: size(26);
  }
}
@mixin base-text {
  font-size: size(18);
  line-height: size(24);
  font-weight: 400;
  color: $text-main;
}
@mixin back-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin arrow-link {
  background-position: center;
  background-repeat: no-repeat;
  width: size(41);
  height: size(41);
  background-color: $green-main;
  border-radius: 50%;
  background-size: size(31);
  z-index: 33;
}
