//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	@include arrow-link;
	transition: background-color ease-out .5s;
	&:hover {
	  background-color: $text-main;
	}
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/form-submit.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.arrows-slider-base {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: unset;
	bottom: -2.5rem;
  }
  [dir="rtl"] .slick-next {
	left: unset;
	right: 53px;
  }
  [dir="rtl"] .slick-prev {
	right: 0;
  }
}
.post-gallery-block {
  [dir="rtl"] .slick-prev {
	right: 56px;
  }
  [dir="rtl"] .slick-next {
	left: 56px;
  }
}
.base-slider-block {
  position: relative;
  padding: size(100) 0;
  background-image: url("../img/slider-back.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.reverse-slider {
  .base-slider-block {
	background-image: none;
	box-shadow: inset 0 0 76px 23px rgba(36, 33, 33, 0.02);
	background-color: #ffffff;
  }
  .row-slider {
	flex-direction: row-reverse;
  }
  .slider-img-col {
	.img-slider {
	  left: 0;
	  right: unset;
	  @media screen and (max-width: 992px) {
		left: unset;
	  }
	}
  }
}
.slider-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .img-slider {
	@include back-img;
	width: 190%;
	max-width: unset;
	position: absolute;
	right: 0;
	border-radius: 20px;
	&:after {
	  content: '';
	  display: block;
	  padding-bottom: 70%;
	}
	@media screen and (max-width: 992px) {
	  position: relative;
	  width: 100%;
	  right: unset;
	  margin-bottom: -150px;
	}
  }
}
.slider-content-wrap {
  box-shadow: 0 0 131px rgba(51, 51, 51, 0.06);
  border-radius: 20px;
  background-color: #ffffff;
  padding: 35px 44px 88px 8%;
  @media screen and (max-width: 768px) {
	padding: 25px 20px 88px 20px;
  }
}
//Post card
.col-post {
  padding: 7.5px 10px;
}
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  box-shadow: 0 0 20px rgba(51, 51, 51, 0.06);
  border-radius: 20px;
  background-color: #ffffff;
  padding: 22px;
  transition: margin-top .5s;
  .base-text {
	max-width: 80%;
	@media screen and (max-width: 1500px) {
	  max-width: 100%;
	}
  }
}
.product-card {
  padding: 25px;
}
.post-card-image {
  @include d-center;
  position: relative;
  border-radius: 20px;
  background-color: #e0e0e0;
  @include back-img;
  width: 100%;
  margin-bottom: 17px;
  &:after {
	display: block;
	content: '';
	padding-bottom: 75%;
  }
}
.product-card-image {
  margin-bottom: 11px;
  &:after {
	padding-bottom: 94.7%;
  }
}
.post-card-title {
  @include mid-title-24;
  color: $green-main !important;
  margin-bottom: 14px;
}
.post-card-link {
  padding: 10px 34px 10px 49px;
}
.post-card-content {
  flex-grow: 1;
}
//Link item
.share-items-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 11px 0;
}
.share-item {
  @include d-center;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: $green-main;
  margin-left: 12px;
  transition: background-color ease-out .5s;
  &:hover {
	background-color: $text-main;
  }
  img {
	max-height: 23px;
  }
}
.share-item-file {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
//Projects
.projects-grid {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.project-item {
  @include d-center;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 10px;
  @media screen and (max-width: 992px) {
	flex: 0 0 50% !important;
	max-width: 50% !important;
	.project-item-inside {
	  &:after {
		padding-bottom: 91% !important;
	  }
	}
	&:nth-child(9), &:nth-child(18) {
	  flex: 0 0 100% !important;
	  max-width: 100% !important;
	  .project-item-inside {
		&:after {
		  padding-bottom: 45.5% !important;
		}
	  }
	}
  }
  @media screen and (max-width: 650px) {
	flex: 0 0 100% !important;
	max-width: 100% !important;
	.project-item-inside {
	  &:after {
		padding-bottom: 91% !important;
	  }
	}
	&:nth-child(9), &:nth-child(18) {
	  .project-item-inside {
		&:after {
		  padding-bottom: 91% !important;
		}
	  }
	}
  }
  &:nth-child(2), &:nth-child(8), &:nth-child(9), &:nth-child(11), &:nth-child(17), &:nth-child(18) {
	flex: 0 0 50%;
	max-width: 50%;
	.project-item-inside {
	  &:after {
		padding-bottom: 45.5%;
	  }
	}
  }
}
.project-item-inside {
  position: relative;
  width: 100%;
  border-radius: 20px;
  @include back-img;
  &:after {
	content: '';
	display: block;
	padding-bottom: 91%;
  }
  &:hover .project-overlay {
	opacity: 1;
	pointer-events: auto;
  }
}
.project-overlay {
  @include d-center;
  @include overlay;
  box-shadow: 0 0 20px rgba(51, 51, 51, 0.06);
  border-radius: 20px;
  background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0;
  pointer-events: none;
  transition: opacity ease-out .5s;
}
.overlay-link-arrow {
  @include d-center;
  @include arrow-link;
  background-image: url("../iconsall/form-submit.png");
  position: absolute;
  left: 8px;
  bottom: 8px;
  z-index: 99;
}
.project-overlay-link {
  @include overlay;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 20px 8px 60px;
  @include mid-title-24;
  color: #ffffff !important;
  @media screen and (max-width: 1400px){
	font-size: size(18);
	line-height: size(20);
	padding: 0 20px 20px 60px;
  }
  @media screen and (max-width: 650px){
	font-size: size(22);
	line-height: size(27);
	padding: 0 20px 10px 60px;
  }
}
//Sidebar
.sidebar-list, .sidebar-item, .sidebar-item-inside {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.sidebar-item-inside {
  flex-direction: row;
}
.sidebar-list {
  flex-direction: column;
}
.sidebar-item {
  margin-bottom: 20px;
  &:hover {
	.sidebar-item-main {
	  color: $green-main;
	}
  }
}
.sidebar-item-main {
  @include mid-title-24;
  margin-left: 26px;
  color: #000000;
  transition: color ease-out .5s;
}
.sidebar-item-trigger {
  background-image: url("../iconsall/sidebar-link.png");
  width: size(31);
  height: size(31);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform ease-out .5s;
  &.rotated {
	transform: rotate(180deg);
  }
}
ul.children-terms-wrap {
  display: none;
  margin-top: 10px;
  margin-right: 20px;
  list-style: disc;
  ::marker {
	color: $green-main;
  }
  li {
	margin-bottom: 10px;
  }
  li a {
	@include base-text;
	color: $text-main;
	transition: color ease-out .5s;
	&:hover {
	  color: $green-main;
	}
  }
}
