/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 22px;
  }
}
@media (max-width: 1400px) {
  .sidebar-wrapper .base-title {
	font-size: size(30);
	line-height: size(36);
  }
}
/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .col-title-mobile {
	display: flex;
  }
  .base-title-desktop {
	display: none;
  }
  .product-gallery-col {
	order: -1;
	margin-bottom: 2rem;
  }
  .logo img {
	max-height: size(50);
  }
  .header-tel {
	width: size(41);
	height: size(41);
	margin: 0 12px 0 6px;
	padding: 12px;
	span {
	  display: none;
	}
	img {
	  margin: 0;
	  width: 20px;
	}
  }
  .two-columns {
	column-count: 1;
	column-gap: unset;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .logo {
	padding: 7px 0;
	img {
		max-height: size(45);
	}
  }
  .two-columns {
	column-count: 2;
	column-gap: 1rem;
  }
  .foo-menu {
	margin-bottom: 2rem;
  }
  .foo-menu-links {
	order: 4;
  }
}
@media (max-width: 650px) {
  .header-tel, .pop-trigger {
	position: fixed;
	left: 0;
	z-index: 99999;
  }
  .pop-trigger {
	top: 50%;
  }
  .header-tel {
	top: calc(50% + 45px);
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .header-address {
	display: none;
  }
  .sidebar-wrapper {
	margin-bottom: 1rem;
  }
  .sidebar-wrapper .base-title {
	font-size: size(36);
	line-height: size(40);
  }
  .col-form-titles {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.form-title {
	  text-align: center;
	  margin-bottom: 3px;
	}
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .logo img {
	max-height: size(40);
  }
  .head-link-wrap {
	margin: 0 4px;
  }
  .two-columns {
	column-count: 1;
	column-gap: 1rem;
  }
}
