@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "partials";
@import "animate";
@import "forms";
@import "header-footer";


body{
  font-family: $varela-round;
  text-align: right;
  color: $text-main;
}
.base-title {
  @include base-title;
  color: $green-main;
}
.block-title {
  @include block-title;
  color: $green-main;
}
.page-title {
  @include block-title;
  color: $text-main;
  text-align: center;
  margin-bottom: 43px;
}
.base-text {
  @include base-text;
}
.base-output {
  h1 {
	@include block-title;
  }
  h2 {
	@include base-title;
  }
  h3 {
	font-size: size(30);
	line-height: size(36);
  }
  h1, h2, h3, h4, h5, h6 {
	color: $green-main;
	font-weight: 400;
	margin-bottom: 18px;
  }
  h4 {
	@include mid-title-24;
  }
  h5 {
	font-size: size(22);
	line-height: size(26);
  }
  h6 {
	font-size: size(20);
	line-height: size(26);
  }
  p, li {
	@include base-text;
  }
  p {
	margin-bottom: 30px;
  }
  ul {
	list-style: disc;
	margin: 1rem;
	::marker {
	  color: $green-main;
	}
  }
}
.post-text-output {
  h2, h3, h4, h5, h6 {
  color: #000000;
  }
  h2 {
	@include mid-title-24;
  }
  h3 {
	font-size: size(22);
	line-height: size(26);
  }
  h4 {
	font-size: size(20);
	line-height: size(24);
  }
  h5 {
	font-size: size(18);
	line-height: size(22);
  }
}
.base-link {
  @include d-center;
  @include submit-link-style;
}
.more-link {
  background-color: #000000;
  padding: 10px 34px 10px 57px;
  background-image: url("../iconsall/arrow-down.png");
  margin-top: 86px;
  cursor: pointer;
  transition: background-color ease-out .5s;
  &:hover {
	background-color: $green-main;
	background-position: 9px center;
  }
  &.hide {
	display: none;
  }
}
.page-body {
  padding-top: 162px;
}
.social-item-text {
  color: #000000;
}
.posts-output {
  padding: 46px 0 25px 0;
}
.products-output {
  background-image: url("../img/products-back.png");
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 43px 0;
  .block-title {
	text-align: center;
	margin-bottom: 60px;
  }
}

//Post gallery
.article-page-body {
  background-image: url("../img/post-top-back.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.gallery-item, .big-slider-item, .thumb-item {
  position: relative;
  @include d-center;
  @include back-img;
  border-radius: 20px;
  &:after {
	content: '';
	display: block;
	padding-bottom: 90%;
  }
}
.gallery-overlay {
  @include overlay;
  background-color: rgba(106, 193, 66, 0.5);
  border-radius: 20px;
  pointer-events: none;
}
.gallery-slider-wrapper {
  padding: 6px;
}
.gallery-slider-wrapper.slick-active {
  .gallery-overlay {
	opacity: 0;
	pointer-events: auto;
  }
}
.projects-page-output {
  padding-top: 130px;
  @media screen and (max-width: 1200px) {
	padding-top: 90px;
  }
}
//Product
.big-slider-item, .thumb-item {
  &:after {
	padding-bottom: 71%;
  }
}
.thumb-item {
  border-radius: 10px;
}
.price-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  .middle-title {
	margin-left: 25px;
	text-decoration: line-through;
  }
}
.middle-title {
  @include mid-title-24;
  color: #000000;
  margin-bottom: 36px;
}
.new-price {
  @include d-center;
  height: size(46);
  background-color: $green-main;
  padding: 10px 22px;
  @include mid-title-24;
  text-align: center;
  color: #ffffff;
  margin-bottom: 36px;
  border-radius: size(23);
}
.thumbs-wrap {
  display: flex;
  .slick-prev, .slick-next {
	position: relative !important;
	background-position: center;
	background-repeat: no-repeat;
	width: size(41);
	height: size(41);
	background-color: $green-main;
	border-radius: 50%;
	background-size: size(31);
	z-index: 33;
	transition: background-color ease-out .5s;
	&:hover {
	  background-color: $text-main;
	}
  }
  .slick-next {
	background-image: url("../iconsall/form-submit.png");
  }
  .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
  .slick-prev, .slick-next {
	left: unset !important;
	right: unset !important;
	margin: 0 6px;
	@media screen and (max-width: 450px) {
	  margin: 0 2px;
	}
  }
}
.put-arrows-here {
  width: 25%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.thumbs {
  width: 75%;
}
.col-title-mobile {
  display: none;
}
//Contact page
.contact-page-body {
  @include back-img;
  padding-top: 72px;
  padding-bottom: 56px;
  background-image: url("../img/contact-back.png");
}
.contact-wrapper {
  padding: 46px 46px 61px 69px;
  div.wpcf7 textarea {
	margin-bottom: 0;
  }
  @media screen and (max-width: 768px){
	padding: 46px 16px;
  }
}
.contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  .base-title {
	margin-bottom: 5px;
  }
}
.contact-icon-wrap, .benefit-icon {
  @include d-center;
  border-radius: 50%;
  width: size(82);
  min-width: size(82);
  height: size(82);
  padding: size(18);
  background-color: $green-main;
  margin-left: size(32);
  @media screen and (max-width: 576px) {
	width: size(52);
	min-width: size(52);
	height: size(52);
	padding: 8px;
	margin-left: size(22);
  }
}
.benefit-icon {
  background-color: #e0e0e0;
}
.contact-type {
  @include mid-title-24;
  color: #000000 !important;
}
//Homepage
.home-main-block {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  .home-main-title {
	margin-bottom: 17px;
  }
  div.wpcf7 input[type="text"],
  div.wpcf7 input[type="tel"],
  div.wpcf7 input[type="email"] {
	background-color: rgba(255, 255, 255, 0.5);
  }
}
.home-image {
  @include back-img;
  width: 50%;
  @media screen and (max-width: 992px){
	width: 100%;
	display: flex;
	&:after {
	  content: '';
	  display: block;
	  padding-bottom: 75%;
	}
  }
}
.home-content-block {
  width: 50%;
  background-image: url("../img/home-back.png");
  @include back-img;
  padding: 8%;
  @media screen and (max-width: 1500px){
	padding: 8% 30px;
  }
  @media screen and (max-width: 992px){
	width: 100%;
	padding: 12% 8%;
  }
  @media screen and (max-width: 768px){
	padding: 170px 8%;
  }
}
.home-main-text {
  margin-bottom: size(78);
  h1 {
	color: $green-main;
	font-size: size(72);
	font-style: normal;
	letter-spacing: normal;
	line-height: size(80);
	@media screen and (max-width: 576px){
	  font-size: size(52);
	  line-height: size(65);
	}
  }
  h2 {
	@include block-title;
  }
  h2, h3, h4, h5, h6 {
	color: $text-main;
	font-weight: 400;
	margin-bottom: 7px;
  }
  h3 {
	@include base-title;
  }
  h4 {
	font-size: size(30);
	line-height: size(36);
  }
  h5 {
	font-size: size(28);
	line-height: size(30);
  }
  h6 {
	font-size: size(26);
	line-height: size(30);
  }
  p {
	@include mid-title-24;
	color: $text-main;
  }
  * {
	text-align: center;
  }
}
.home-cats {
  padding: 9px;
}
.home-cats-wrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.home-cat-col {
  padding: 0 6px;
}
.home-posts {
  .page-title {
	color: $green-main;
	margin-bottom: 34px;
  }
}
.home-cat-item {
  @include d-center;
  background-color: $green-main;
  @include base-title;
  text-align: center;
  padding: size(40);
  border-radius: size(20);
  height: 100%;
  color: #ffffff;
  transition: background-color, color ease-out .5s;
  @media screen and (max-width: 1700px) {
	padding: size(20);
	font-size: size(30);
	line-height: size(36);
  }
  @media screen and (max-width: 1200px) {
	padding: size(40) size(20);
	font-size: size(36);
	line-height: size(40);
  }
  &:hover {
	color: $text-main;
	background-color: #e0e0e0;
  }
}
//Projects grid
.projects-block {
  padding: 10px;
  background-color: #000000;
}
.h-projects-title {
  @include block-title;
  text-align: center;
  color: #fcfcfc;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 15px;
  @media screen and (max-width: 992px) {
	@include base-title;
  }
}
.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "col-1 col-3 col-4 col-4"
    "col-2 col-3 col-5 col-6";
  @media screen and (max-width: 992px) {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas:
    "col-1 col-3"
    "col-2 col-3"
    "col-4 col-5"
    "col-4 col-6";
	.project-overlay-link {
	  font-size: size(15);
	  line-height: size(20);
	  padding: 0 10px 10px 45px;
	}
	.overlay-link-arrow {
	  width: size(31);
	  height: size(31);
	  background-size: size(21);
	}
  }
  @media screen and (max-width: 992px) {
	.project-overlay-link {
	  font-size: size(13);
	  line-height: size(18);
	}
  }
}
.project-column {
  .project-item-inside {
	&:after {
	  padding-bottom: 91% !important;
	}
  }
}
.project-column-1 {
  grid-area: col-1;
}
.project-column-2 {
  grid-area: col-2;
}
.project-column-3 {
  grid-area: col-3;
  .project-item-inside {
	height: 80%;
	&:after {
	  content: '';
	  padding-bottom: 0;
	}
  }
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 5px;
  @media screen and (max-width: 992px) {
	margin-bottom: 0;
  }
}
.project-column-4 {
  grid-area: col-4;
  .project-item-inside {
	&:after {
	  padding-bottom: 45.5% !important;
	}
  }
  @media screen and (max-width: 992px) {
	.project-item-inside {
	  height: 100%;
	  &:after {
		content: '';
	  }
	}
  }
}
.project-column-5 {
  grid-area: col-5;
}
.project-column-6 {
  grid-area: col-6;
}

//Benefits
.benefits-block {
  background-image: url("../img/benefits-back.png");
  @include back-img;
  padding: 92px 0;
  margin-bottom: -2px;
}
.benefits-block-title {
  color: #ffffff;
  font-size: size(72);
  font-style: normal;
  letter-spacing: normal;
  line-height: size(80);
  margin-bottom: 116px;
  @media screen and (max-width: 576px){
	font-size: size(52);
	line-height: size(65);
	margin-bottom: 50px;
  }
}
.benefit-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 66px;
  .base-title {
	margin-bottom: 5px;
  }
  &:last-child {
	&:after {
	  display: none;
	}
  }
  &:after {
	position: absolute;
	top: calc(50% + 41px);
	left: size(41);
	content: '';
	display: block;
	width: 6px;
	height: 38px;
	border-radius: 3px;
	background-color: $green-main;
	@media screen and (max-width: 576px){
	  left: size(23);
	}
  }
}
.benefit-icon {
  margin-left: 0 !important;
}
.benefit-content {
  width: calc(80% - 100px);
  @media screen and (max-width: 576px){
	width: calc(100% - 80px);
  }
}
.benefit-text {
  color: #ffffff;
}
.white-link {
  color: #ffffff !important;
  background-color: transparent !important;
  background-image: url("../iconsall/form-submit.png");
  margin: 10px 0;
}
.black-link {
  color: #000000 !important;
  background-color: transparent !important;
  background-image: url("../iconsall/form-submit-black.png");
  margin: 20px 0;
}

@import "responsive";
